<h1 style="text-align:center;"> Rock Paper Scissors </h1>

<h2>Choose your move:</h2>

<form action="result" method="post">
<input type="radio" name="move" value="rock">Rock
<input type="radio" name="move" value="paper">Paper
<input type="radio" name="move" value="scissors">Scissors

<p>
<input type="submit" value="Show the result">
</p>
</form>